</head>
<body>
  <nav>
		<i class="fa fa-plane" aria-hidden="true"></i>
    <a 
			href="/meals/new"
			<%- title === 'Add Meal' ? 'class="active"' : '' %>
		>
			ADD Meal
		</a> 
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      ADD Flight
    </a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      ALL Flights
    </a>
  </nav>
